.updateAccessButton {
    border-color: #6147FF;
    color: #6147FF;
}

.modalTitle {
    font-weight: 700;
    font-size: 20px;
}

.modalButtonContainer {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.cancelButton {
    border-color: #6147FF;
    color: #6147FF;
}

.confirmButton {
    background-color: #6147FF;
}

.confirmButton:hover {
    background-color: #6147FF !important;
    opacity: 0.9 !important;
}