.modalButtonContainer {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}


.label {
    position: relative;
    zIndex: 1
}

.button {
    position: relative;
    transition: background-color 150ms ease;
    width: 150px;
    margin: auto;
    background-color: #6147FF;
}

.button:hover, .confirmButton:hover {
    background-color: #6147FF !important;
    opacity: 0.9 !important;
}

.cancelButton {
    border-color: #6147FF;
    color: #6147FF;
}

.confirmButton {
    background-color: #6147FF;
}

/*overriding default mantine style*/
.modalTitle {
    font-weight: 700;
    font-size: 20px;
}