.dependentsList{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.modalButtonContainer {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.label{
    position: relative;
    zIndex:1
}

.button{
    position: relative;
    transition: background-color 150ms ease;
    width: 150px;
    margin: auto;
    background-color: #6147FF;
}
/*overriding default mantine style*/
.modalTitle{
    font-weight: 700;
    font-size: 20px;
}