.viewTitle {
    display: flex;
    justify-content: center;
}

.backButton {
    background-color: #6147FF;
}

.backButton:hover {
    background-color: #6147FF;
    opacity: 0.9;
}

.editWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editButton {
    width: 100px;
}

