
.dependentDetailsFormContainer{
    width: 30%;
    margin: auto;
}
.dependentDetailsForm{
    width: 90%;
    margin: 50px auto auto;
}

.buttonGroup{
    display: flex;
    justify-content: center;
    gap: 2rem;
}