@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Graduate&family=Inter:wght@100;200&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,400&family=Old+Standard+TT:wght@700&family=Play:wght@400;700&family=Yeseva+One&display=swap');

* {
    scroll-behavior: smooth;
}

.bigContainer {
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.signInBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.signInButton {
    background-color: #6147FF;
    height: 50px;

}

.dividerLabel {
    font-size: 15px;
}

.providerIcon {
    cursor: pointer;
}

.signInButton:hover {
    background-color: #6147FF !important;
    opacity: 0.9;
}


.leftContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    align-items: center;

}

.heroImageContainer {
    height: 60%;
    width: 100%;
}

.heroImage {
    height: 100%;
    margin: auto;
    padding-left: 10%;
    padding-top: 2rem;
}

.heroImageOverlay {
    width: 100%;
    height: 40%;
    padding-left: 2rem;
    padding-top: 2rem;

}


.googleIcon {
    margin-right: 0.5rem;
}


.heroHeader {
    color: #252238;
    font-family: 'Yeseva One', cursive;
    font-size: 2.2vw;
    margin: 0;
}

.heroParagraph {
    font-size: 1.4vw;
    font-family: 'Inter', sans-serif;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    text-align: left;
}

.signInColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEE1C4;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    /*height:100%;*/
    width: 40vw;
}

.title {
    font-size: 2rem;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

.scrollIndicatorContainer {
    position: relative;
    width: 100%;
    display: none;

}


.scrollIndicatorContainer a {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    color: #484646;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 50px;
    left: 45%;
}

.scrollIndicatorContainer a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #444343;
    border-bottom: 2px solid #444343;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: indicatorAnimation 2s infinite;
    animation: indicatorAnimation 2s infinite;
    box-sizing: border-box;
}

.scrollIndicatorText {
    font-weight: 500;
    color: #444343;
}

@-webkit-keyframes indicatorAnimation {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes indicatorAnimation {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}


@media screen and (max-width: 1000px) {
    .bigContainer {
        flex-direction: column;
    }

    .leftContainer {
        /*display: none;*/
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

    }

    .heroHeader {
        font-size: 30px;
    }

    .heroParagraph {
        margin-top: 30px;
        font-size: 15px;
    }

    .heroImageContainer {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 100px;

    }

    .heroImage {
        width: 50%;
        padding: 0;

    }


    .signInColumn {
        width: 100vw;
    }

    .title {
        margin-top: 100px;
    }

    .scrollIndicatorContainer {
        display: inline;
    }
}