@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Graduate&family=Inter:wght@100;200&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,400&family=Old+Standard+TT:wght@700&family=Play:wght@400;700&family=Yeseva+One&display=swap');

.signInBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.bigContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    align-items: center;

}

.heroImageContainer {
    height: 60%;
    width: 100%;
}

.heroImage {
    height: 100%;
    margin: auto;
    padding-left: 10%;
    padding-top: 2rem;
}

.heroImageOverlay {
    width: 100%;
    height: 40%;
    padding-left: 2rem;
    padding-top: 2rem;

}

#signInButton {
    color: white;
    border: none;
    background-color: black;
    border-radius: 30px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 1rem 2rem;
    width: 90%;
}

#signInButton:hover {
    cursor: pointer;
    color: black;
    border: 2px solid black;
    background-color: white;
    transition: 0.3s;
}

.googleIcon {
    margin-right: 0.5rem;
}


.heroHeader {
    color: #252238;
    font-family: 'Yeseva One', cursive;
    font-size: 2.2vw;
    margin: 0;
}

.heroParagraph {
    font-size: 1.4vw;
    font-family: 'Inter', sans-serif;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    text-align: left;
}

.signInColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEE1C4;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 100vh;
    width: 40vw;
}

.title {
    font-size: 2rem;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}


@media screen and (max-width: 630px) {
    .leftContainer {
        display: none;
    }

    .signInColumn {
        width: 100vw;
    }
}