.cancelButton {
    color: #6147FF;
    border-color: #6147FF;
}

.saveButton {
    background-color: #6147FF;
}

.saveButton:hover {
    background-color: #6147FF !important;
    opacity: 0.9 !important;
}