.formWrapper {
    width: 45rem;
    margin: auto;
}

.progressBarContainer {
    margin-top: 3rem;
    width: 100%;
    /*border: 1px solid black;*/
}

.normalContent{
    width: 70%;
    margin: auto;

}

.reminderContent{
    width: 100%;
}

.reviewContent{
    width:100%
}



.modalButtonContainer {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}


/*overriding default mantine style*/
.modalTitle {
    font-weight: 700;
    font-size: 20px;
}


/*Responsive styles*/

@media screen and (max-width: 1005px){
    .formWrapper{
        width: 90%;
    }
}




